body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar right-sidebar'
        'footer footer';
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
}

.header {
    grid-area: header;
    background-color: #8faee4;
    padding: 1rem;
    text-align: left;
    color: white;
}

.logo {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.title {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 100;
}

.sidebar {
    grid-area: sidebar;
    padding: 1rem;
    width: 100%;
    background-color: #e4e3e3;
}

.main-content {
    grid-area: main-content;
    background-color: #2ec4b6;
    padding: 1rem;
}

.right-sidebar {
    grid-area: right-sidebar;
    background-color: #e4e3e3;
    padding: 1rem;
}

.command {
    background-color: #f4f4f4; /* Light grey background */
    padding: 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    font-family: monospace; /* Monospace font for command line text */
    display: inline-block; /* Ensure each command is on its own line */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    margin-bottom: 10px; /* Space between each command */
}

.footer {
    grid-area: footer;
    background-color: #011627;
    color: white;
    padding: 1rem;
    text-align: center;
}
